<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create"><p>Insert a new celebrity</p></a>

<a href="/celebrities"><p>See all the celebrities!</p></a>

<a href="/movies"><p>See all the movies!</p></a>
